// custom SCSS (or CSS) goes here
.post-title {
    margin-bottom: 0;
}

.chip-wrap {
    transform: translatey(-.5rem);
}

.chip-wrap :first-child {
    margin-left: 0;
}

.label {
    text-transform: lowercase;
}

.site-nav {
    padding-top: $sp-2;
}

.nav-category {
    text-transform: none;
    @include fs-4;
}

.site-title {
    padding-top: $sp-4 ;
}