// custom SCSS (or CSS) goes here

.hero-wrap {
    min-height: 70vh;
    border-radius: $sp-5;
    margin-left: $sp-5;
    margin-right: $sp-5;
}

.hero-wrap .chip-wrap {
    margin: $sp-5;
}

.chip-wrap {
    transform: translatey(-.8rem);
}

.aux-nav-list-item,
.search-input,
.label,
.nav-category {
    @include fs-3;
}

.text-delta, 
.label,
.nav-category,
h4, .text-delta {
    text-transform: none;
}

.site-nav,
.side-bar {
    @include mq(md) {
        padding-top: $sp-3;
    }
}

//heropost specific styles

[data-page-layout="heropost"] {
    background-color: $grey-dk-500;
}

[data-page-layout="heropost"] .main-header,
[data-page-layout="heropost"] .search-input,
[data-page-layout="heropost"] .search-results {
    @include mq(md) {
        background-color: $grey-dk-500;
    }
}

[data-page-layout="heropost"] .post-title {
    @include fs-11-clamp;
}