<div class="chip-wrap">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <time class="label label-blue" datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: date_format }}
    </time>
    {%- if page.modified_date -%}
      ~ 
      {%- assign mdate = page.modified_date | date_to_xmlschema -%}
      <time datetime="{{ mdate }}">
        {{ mdate | date: date_format }}
      </time>
    {%- endif -%}
    {%- if page.author -%}
      {% for author in page.author %}
        <span class="label label-purple">{{ author }}&nbsp;</span>
          {%- if forloop.last == false %}, {% endif -%}
      {% endfor %}
    {%- endif -%}
    {%- if page.categories -%}
    {% for category in page.categories %}
      <span class="label label-yellow">{{ category }}</span>
      {%- if forloop.last == false %}, {% endif -%}
    {% endfor %}
    {%- endif -%}
</div>